---
layout: plain
title: VAL Annual Review 2015-2016
summary: Helping families move toward a bright future.
tweettext: Welcome to the Great Project
tweeturl: www.valonline.org.uk/2016
published: true
---

{% include_relative _posts/intro.html %}

<main role="main" class="page-content one-sidebar sidebar-second">
{% include_relative _posts/fifty-years.html %}
{% include_relative _posts/fifty-years-in-numbers.html %}
{% include_relative _posts/fifty-years-quotes.html %}
{% include_relative _posts/sixties-val.html %}
{% include_relative _posts/in-numbers.html %}
{% include_relative _posts/community-library.html %}
{% include_relative _posts/communities-in-numbers.html %} {% comment %} Communities in numbers {% endcomment %}
{% include_relative _posts/skate.html %}
{% include_relative _posts/investing-in-communities-quotes.html %}
{% include_relative _posts/supporting-local-people.html %}
{% include_relative _posts/values.html %}
{% include_relative _posts/supporting-local-people-in-numbers.html %}
{% include_relative _posts/supporting-local-people-quotes.html %}
{% include_relative _posts/drumming-workshop.html %}
{% include_relative _posts/support-for-vcs-quotes.html %} {% comment %} Supporting VCS in numbers {% endcomment %}
{% include_relative _posts/group-support-meeting.html %}
{% include_relative _posts/training-statistics.html %}
{% include_relative _posts/investing-in-communities-quotes.html %}
{% include_relative _posts/bringing-groups-together.html %}
{% include_relative _posts/empowering-volunteers-in-numbers.html %}
{% include_relative _posts/empowering-volunteers-quotes.html %}
{% include_relative _posts/rugby.html %}
{% include_relative _posts/staying-healthy-in-numbers.html %}
{% include_relative _posts/staying-healthy-quotes.html %}
{% include_relative _posts/healthwatch.html %}
{% include_relative _posts/healthwatch-in-numbers.html %}
{% include_relative _posts/dear-albert.html %}
{% include_relative _posts/orange.html %}  {% comment %} The future {% endcomment %}
</main>
