---
layout: plain
title: Welcome to the Great Project
summary: Helping families move toward a bright future.
tweettext: Welcome to the Great Project
tweeturl: www.valonline.org.uk/2016
---

{% include_relative _posts/intro.html %}

<main role="main" class="page-content one-sidebar sidebar-second">
{% include_relative _posts/fifty-years.html %}
{% include_relative _posts/since-1965.html %}
{% include_relative _posts/sixties-val.html %}
{% include_relative _posts/in-numbers.html %}
{% include_relative _posts/community-library.html %}
{% include_relative _posts/communities-in-numbers.html %} {% comment %} Communities in numbers {% endcomment %}
{% include_relative _posts/skate.html %}
{% include_relative _posts/supporting-local-people.html %}
{% include_relative _posts/values.html %}
{% include_relative _posts/supporting-local-people-in-numbers.html %}
{% include_relative _posts/drumming-workshop.html %}
{% include_relative _posts/blue.html %} {% comment %} Supporting VCS in numbers {% endcomment %}
{% include_relative _posts/group-support-meeting.html %}
{% include_relative _posts/blue.html %} {% comment %} Numbers slide trading statistics {% endcomment %}
{% include_relative _posts/blue.html %} {% comment %} Hippies {% endcomment %}
{% include_relative _posts/pink.html %} {% comment %} Volunteering in numbres {% endcomment %}
{% include_relative _posts/pink.html %} {% comment %} Rugby world cup {% endcomment %}
{% include_relative _posts/light-blue.html %} {% comment %} Staying healthy in numbers {% endcomment %}
{% include_relative _posts/light-blue.html %} {% comment %} HW {% endcomment %}
{% include_relative _posts/light-blue.html %} {% comment %} HW in numbres {% endcomment %}
{% include_relative _posts/dear-albert.html %}
{% include_relative _posts/orange.html %}  {% comment %} The future {% endcomment %}
</main>