// Variables
// ---------

// Typography

$base-font-family: "helvetica neue", $helvetica;
$heading-font-family: "helvetica neue", $helvetica;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;
$base-line-height-px: $base-line-height * $base-font-size;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$orange: #F38A00;
$blue: #0088B3;
$light-blue: #4ea5b0;
$dark-gray: #332525;
$medium-gray: #CECCC4;
$light-gray: #F4F2F2;
$green: #37B292;
$yellow: #F8C52B;
$pink: #ad006b;
$red: #DA6C25;
$brown: #8C7E57;
$turquoise: #34886e;
$purple: #924F9E;

// Name Colour Keys - used for automatically generating coloured elements. Only include required elements.
$colors: (
blue: $blue,
green: $green,
);

// Brand Colours

$brand-primary: $orange;

// Font Colors
$base-background-color: #fff;
$base-font-color: #fff;
$action-color: $brand-primary;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$modular-scale-base: em($em-base) !default;
$modular-scale-ratio: $minor-third;

// Image Directory

$image-directory: "../img";